html, body {
  width: 100%;
  height: 100%;
}

body {
  padding: 0px;
  margin: 0px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;

}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
  padding: 0px;
}

ul, ol {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a, a:hover, a:focus {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}
.clearfix::after{
  content: '';
  display: table;
  clear:both;
}


.container{
  width: 85%;
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
}
section{
  padding: 100px 0;

}


/*head*/
header{
  position: fixed;
  width: 100%;
  right: 0;
  left: 0;
  background-color: #222;
  z-index: 100;
}
#logo{
  float: left;
}
.nav{
  float: right;
}
.nav li{
  display: inline-block;
}
.nav li a{
  color: #fff;
  text-transform: capitalize;
  display: block;
  padding: 10px 12px;

}

/*homepage*/

.home_bg {
  background-image: url(../image/profile.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.container_table {
  display: table;
  width: 100%;
  height: 100%;
  position: relative;
}
.container_cell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.container_cell h2 {
  color: #fff;
  text-transform: capitalize;
  font-size: 54px;
}
.social_icons a {
  color: #fff;
  display: inline-block;
  width: 30px;
  height: 40px;
  line-height: 40px;
  font-size: 19px;
  margin-right: 7px;
}
/*about me*/

.container h2{
  margin-bottom: 75px;
  text-align: center;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.col-left, .col-right{
  float: left;
  width: 50%;
  padding: 0 15px;

}
.personal-info h3{
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-bottom: 6px;

}
.personal-info p{
  color: #767676;
  line-height: 24px;
  text-align: justify;

}
.skill{
  margin: 30px auto;

}
.skill li{
  font-size: 15px;
  line-height: 35px;
  text-transform: capitalize;

}

.bottom-group .cv, .bottom-group .hire{
  float: left;
}
.bottom-group .cv{
  margin-right: 18px;
}

.bottom-group a{
  display: block;
  color: #000;
  border: 1px solid #333;
  border-radius: 10px;
  padding: 10px 38px;
  text-transform: capitalize;
  transition: all .4s linear;
  -webkit-transition: all .4s linear;
  -moz-transition: all .4s linear;
  -ms-transition: all .4s linear;
  -o-transition: all .4s linear;


}

.bottom-group a:hover{
  background: #000;
  color: #fff;


}
.clearfix::after{
  content: '';
  display: table;
  clear:both;
}

/*about me*/
.my_service{
  background-color: #f9f9f9;
}

.service-content{
  float: right;
  width: 33.33333%;
  padding: 0px 15px;

}

.service-content i{
  font-size: 30px;
  line-height: 46px;

}
.service-content h3{
  font-size: 16px;
  letter-spacing: 1px;
  margin-top: 13px;
  margin-bottom: 8px;
  text-transform: capitalize;

}

.servicer-content p {
  color: #767676;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}

/*resume*/
.col-horizontal{
  padding-bottom: 16px;
  border-bottom: 1px solid #767676;

}

.col-horizontal:last-child{
  border-bottom: 0;

}
h3.resume-subtitle{
  font-size: 20px;
  margin-left: 15px;
  margin-top: 13px;
  text-transform: capitalize;
}

.col-horizontal .col-item{
  float: left;
  width: 50%;
  padding: 0 15px;

}

p.experience-year{
  background-color: #000;
  color: #fff;
  display:  inline-block;
  padding: 4px 20px;
  margin-top: 15px;
  margin-bottom: 10px;

}
.col-item h4{
  font-size: 16px;
  line-height: 30px;
  text-transform: capitalize;
}
.col-item h6{
  font-size: 12px;
  margin-bottom: 9px;
  text-transform: capitalize;
}
.col-item p{
 line-height: 22px;
}

/*quote*/

.quote{
  background-image: url(../image/abg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  width: 100%
}

.quote-inner{
  color: #fff;
  text-align: center;
}

.quote-inner h3{
  text-transform: capitalize;
  font-size: 28px;
}
.quote-inner p{
  font-size: 14px;
  margin-top: 12px;
}
.quote-inner a{
  color: #fff;
  border: 1px solid #fff;
  border-radius: 11px;
  padding: 12px 49px;
  display: inline-block;
  margin-top: 22px;
  text-transform: uppercase;
  letter-spacing: 3px;

}



/*last work*/
.works{
  background-color: #f7f7f7;

}

.col-work {
  float: left;
  width: 33.3333333333%;
  padding: 0 15px;
}
.col-work a {
  display: block;
  position: relative;
  margin-bottom: 14px;

  transition: .2s linear;
  -webkit-transition: .2s linear;
  -moz-transition: .2s linear;
  -ms-transition: .2s linear;
  -o-transition: .2s linear;
  top: 0;
  left: 0;

}

.col-work a:hover {
  box-shadow: 0 16px 22px 0 rgba(90, 91, 95, 0.3);
  top: -5px;
}

/*contact*/
.contact-form{
  width: 65%;
  margin: 0 auto;
  text-align: center;
}
.contact-form .form-input:first-child,
.contact-form .form-input:nth-child(2){
  float: left;
  width: 50%;
  padding: 0 15px;

}

.contact-form .form-input:nth-child(3){
  width: 100%;
  padding: 0 15px;
}

.contact-form input.form-style{
  width: 100%;
  border: none;
  border-bottom: 1px solid #333;
  text-transform: capitalize;
  padding-bottom: 19px;
  margin-bottom: 12px;
  outline: none;
}

.contact-form textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid #333;
  outline: none;
}

.form-submit{
  text-align: left;
  padding: 0 15px;
}

.form-submit input {
  font-size: 16px;
  text-transform: capitalize;
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 12px;
  padding: 15px 60px;
  margin-top: 15px;
  margin-bottom: 14px;
  cursor: pointer;
  -webkit-transition: .4s linear;
  -ms-transition: .4s linear;
  -o-transition: .4s linear;
  -moz-transition: .4s linear;
  transition: .4s linear;
}

.form-submit input:hover{
  background-color: #000;
  color: #fff;

}


/*footer*/
footer{
  padding: 80px 0;
  background-color: #000;
  color: #fff;
  text-align: center;
}

.footer-content p{
  line-height: 22px;
}

.footer-social-icon a i {
  color: #fff;
  display: inline-block;
  line-height: 20px;
  font-size: 14px;
  margin-top: 15px;
  margin-right: 15px;
}

/*@media screen and (min-width: 1024px) {
  .menu-button {
    display: none;
  }
  .menu-button-checkbox {
    display: none;
  }
}
@media screen and (max-width: 1023px) {
  .container{
    width: auto;
  }
  .menu-button {
  float: right;
  font-size: 25px;
  line-height: 40px;
  color: white;
  background: transparent;
  padding: 0 15px;
  border: 0;
  }
  .menu-button-checkbox {
   position: fixed;
   top: 0;
   right: 0;
   width: 55px;
   height: 40px;
  }
  .menu-button-checkbox:checked ~.nav {
    display: block;
  }
  .nav {
    margin-top: 0;
    padding-left: 0;
    position: fixed;
    right: 0;
    top: 40px;
    width: 100px;
    height: 100%;
    background: red;

  }
  .nav li {
    border: 0;
    border-radius: 0;

  }



}*/
@media screen and (min-width: 1024px) {
  .menu-button,
  .menu-button-checkbox {
    display: none;
  }
}

@media screen and (max-width: 1023px) {
  .container {
    width: auto;
  }

  .menu-button {
    float: right;
    font-size: 25px;
    line-height: 40px;
    color: white;
    background: transparent;
    padding: 0 15px;
    border: 0;
  }

  .menu-button-checkbox {
    position: fixed;
    top: 0;
    right: 0;
    width: 55px;
    height: 40px;
    opacity: 0;
  }

  .menu-button-checkbox:checked ~ .nav {
    display: block;
  }

  .nav{
/*    display: none;*/
    margin-top: 0;
    padding-left: 0;
    position: fixed;
    right: 0;
    top: 40px;
    width: 100px;
    height: 100%;
    background: red;
  }

  .nav li {
    border: 0;
    border-radius: 0;
  }
  
  #about {
  width: 100%; 
  }
  .col-left img {
   display: block;
   margin: 15px auto;
  }
  .work-items{
  max-width: 100%;
  }



}








































